@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif
}

body{
    background-color: lightgrey;
}

#header-logo{
    background-color: white;
    padding: 20px;
    margin-bottom: 30px;

}

.logo{
    vertical-align: middle;
    height: 20%;
}

#logo-text{
    vertical-align: middle;
    font-size: 3.5rem;
}

.button-section{
    width: 70%;
    margin: auto;
    background-color: white;
    padding: 20px 30px 50px 30px;
    border-radius: 10px;
}

#blue-button{
    background-color: aqua;
    color: white;
    border-radius: 10px;
    border: 0px;
    padding: 8px 4px;
    margin-left: 5%;
}

#white-button{
    background-color: lightgray;
    color: gray;
    border-radius: 10px;
    border: 0px;
    padding: 8px 4px;
}

.list-section{
    width: 70%;
    margin: auto;
    margin-top: 2px;
    background-color: white;
    padding: 1%;
    margin-bottom: 10px;
    border-radius: 10px;
}

.list-title{
    font-weight: bolder;
}

.list-title::before{
    content: "\25BC" ;
}

.green-check{
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 1px;
    border-radius: 50%;
    border: 2px solid lightgreen;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    color: lightgreen;
}

.red-check{
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 1px;
    border-radius: 50%;
    border: 2px solid red;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    color: red;
}

.editorial{
    display: inline-block;
    width: 80px;
    height: 25px;
    padding: 1px;
    border-radius: 5px;
    border: 2px solid lightblue;
    background-color: lightblue;
    text-align: center;
    vertical-align: middle;
    color: white
    ;
}

.Q1{
    display: inline-block;
    width: 80px;
    height: 25px;
    padding: 1px;
    border-radius: 5px;
    border: 2px solid purple;
    background-color: purple;
    text-align: center;
    vertical-align: middle;
    color: white
    ;
}

.recruiting{
    display: inline-block;
    width: 80px;
    height: 25px;
    padding: 1px;
    border-radius: 5px;
    border: 2px solid lightgreen;
    background-color: lightgreen;
    text-align: center;
    vertical-align: middle;
    color: white
    ;
}

.mobile{
    display: inline-block;
    width: 80px;
    height: 25px;
    padding: 1px;
    border-radius: 5px;
    border: 2px solid orange;
    background-color: orange;
    text-align: center;
    vertical-align: middle;
    color: white
    ;
}

.website{
    display: inline-block;
    width: 80px;
    height: 25px;
    padding: 1px;
    border-radius: 5px;
    border: 2px solid lightpink;
    background-color: lightpink;
    text-align: center;
    vertical-align: middle;
    color: white
    ;
}

.sales{
    display: inline-block;
    width: 80px;
    height: 25px;
    padding: 1px;
    border-radius: 5px;
    border: 2px solid greenyellow;
    background-color: greenyellow;
    text-align: center;
    vertical-align: middle;
    color: white
    ;
}


