*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: grey;
}

#header-logo{
    background-color: white;
    padding: 2%;

}

.logo{
    vertical-align: middle;
    height: 20%;
}

#logo-text{
    font-size: 3.5rem;
}

.button-section{
    width: 70%;
    margin: auto;
    margin-top: 10%;
    background-color: white;
    padding: 1%;
}

#blue-button{
    background-color: aqua;
    color: white;
    border-radius: 5px;
    padding: 0.5%;
    margin-left: 5%;
}

#white-button{
    background-color: white;
    color: gray;
    border-radius: 5px;
    padding: 0.5%;
}

.list-section{
    width: 70%;
    margin: auto;
    margin-top: 10%;
    background-color: white;
    padding: 1%;
}

.list-title{
    font-weight: bolder;
}

.list-title::before{
    content: "\25BC" ;
}

.green-check{
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 1px;
    border-radius: 50%;
    border: 2px solid lightgreen;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    color: lightgreen;
}

.red-check{
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 1px;
    border-radius: 50%;
    border: 2px solid red;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    color: red;
}

.editorial{
    display: inline-block;
    width: 80px;
    height: 25px;
    padding: 1px;
    border-radius: 5px;
    border: 2px solid lightblue;
    background-color: lightblue;
    text-align: center;
    vertical-align: middle;
    color: white
    ;
}

.Q1{
    display: inline-block;
    width: 80px;
    height: 25px;
    padding: 1px;
    border-radius: 5px;
    border: 2px solid purple;
    background-color: purple;
    text-align: center;
    vertical-align: middle;
    color: white
    ;
}

.recruiting{
    display: inline-block;
    width: 80px;
    height: 25px;
    padding: 1px;
    border-radius: 5px;
    border: 2px solid lightgreen;
    background-color: lightgreen;
    text-align: center;
    vertical-align: middle;
    color: white
    ;
}

.mobile{
    display: inline-block;
    width: 80px;
    height: 25px;
    padding: 1px;
    border-radius: 5px;
    border: 2px solid orange;
    background-color: orange;
    text-align: center;
    vertical-align: middle;
    color: white
    ;
}

.website{
    display: inline-block;
    width: 80px;
    height: 25px;
    padding: 1px;
    border-radius: 5px;
    border: 2px solid lightpink;
    background-color: lightpink;
    text-align: center;
    vertical-align: middle;
    color: white
    ;
}

.sales{
    display: inline-block;
    width: 80px;
    height: 25px;
    padding: 1px;
    border-radius: 5px;
    border: 2px solid greenyellow;
    background-color: greenyellow;
    text-align: center;
    vertical-align: middle;
    color: white
    ;
}


